//- index.jade
extends ./layout.jade

block row-content
  h1 School Finder
  h3.tagline There are ### schools in New York City. Find the right one for your children.
  div.action.box
    h3 Analyse your personality with
    ul.actions
      li.facebook
        a(href='javascript:void(0);')
          i.fa.fa-facebook
          p.alt Facebook
      li.twitter 
        a(href='javascript:void(0);')
          i.fa.fa-twitter
          p.alt Twitter
      li.extra or
      li
        a#pasteCorpusLink(href='javascript:void(0);')
          |paste in samples of your children's writing
    div.well#pasteCorpus
      form.jobForm.form-horizontal(method='post', action="/step")
        fieldset
          div.form-group.row
            label.col-lg-2.col-xs-2(for='labelfield') Sample writing:
            div.col-lg-10.col-xs-10
              textarea.form-control(type='text', name='studentSample', value='', required='true')
          div.form-group.row
            div.col-lg-3.col-lg-push-9.col-xs-4
              input.btn.btn-block(type='submit', value='Analyse')
  div.info.box
    h3 Here are some schools you might be interested in
      ol.schools
        li School 1
  div.map-container
    div#map-canvas