//- layout.jade
doctype html
html(lang='en')
  head
    block title
      title NYC School Finder - Find the best school in NYC for your student with the help of Watson

    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')

    link(rel='shortcut icon', href='/images/favicon.png', type='image/png')
    link(rel='stylesheet', href='/css/watson-bootstrap-dark.css')
    link(rel='stylesheet', href='http://c3js.org/css/c3-b03125fa.css')
    link(rel='stylesheet', href='/css/font-awesome.min.css')
    link(rel='stylesheet', href='/css/banner.css')
    link(rel='stylesheet', href='/css/style.css')
    link(href='http://fonts.googleapis.com/css?family=Open+Sans:400,600,700', rel='stylesheet', type='text/css')


  body
    div.container
      div.row
        block row-content
    script(type='text/javascript', src='https://ta-cdn.mybluemix.net/v1/TradeoffAnalytics.js')
    script(type='text/javascript', src='/js/jquery-1.11.1.min.js')
    script(type='text/javascript', src='https://maps.googleapis.com/maps/api/js')
    script(type='text/javascript', src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.js')
    script(type='text/javascript', src='http://c3js.org/js/d3-3.5.0.min-3b564392.js')
    script(type='text/javascript', src='http://c3js.org/js/c3.min-12912fb6.js')
    script(type='text/javascript', src='/js/forms.js')
    script(type='text/javascript', src='/js/ui.js')


