/* style.css
 * This file provides css styles.
 */
.state_F {
background-color: #A91024; /* IBM's RED 2 */
color: white;
}
.state_D {
background-color: #008A52; /* IBM's GREEN 1 */
color: white;
}
.state_R {
background-color: #003F69; /* IBM's BLUE3 */
color: white;
}
.state_A {
background-color: #B8461B; /* IBM's ORANGE */
color: white;
}
.state_G {
background-color: #FDB813; /* IBM's YELLOW */
color: white;
}

.errorMsg {
	font-weight: bold;
	color: red;
}

.resultTable {
	text-align: left;
}
.resultTable th {
	padding: 0px 5px 0px 5px;
}

.concept td:hover {
	background-color: #ccc;
	cursor: pointer;
}
.resultTable td:first-child {
	text-align: center;
}

@mixin textShadow {
	text-shadow: 0 0 0.1em rgba(0, 0, 0, 0.9);
}

h1 {
	text-align: center;
	font-weight: 900;
	font-size: 3em;
	color: #fff;
	@include textShadow;
}
h3 {
	&.toggle {
		cursor: pointer;
	}
}

.tagline {
	text-align: center;
	font-weight: 100;
	font-size: 2em;
	margin-bottom: 3em;
	color: #fff;
	@include textShadow;
}

#charts {
	margin-bottom: 20px;
}

div.box {
	border: 3px solid rgba(0, 0, 0, 0.1);
	border-radius: 10px;
	background-color: rgba(255, 255, 255, 0.9);
	transition: opacity 0.2s;
	margin-bottom: 1em;
	padding: 0 1em;
	h3 {
		font-size: 1.5em;
		text-align: center;
		margin: 1em 0 0.5em;
	}
	+ .box {
	}
}

ul.actions {
	list-style: none;
	margin: 0;
	padding: 0;
	text-align: center;
	li {
		display: inline-block;
		margin: 1em 3em;
		vertical-align: middle;
		&.extra {
			margin: 1em;
		}
		.fa {
			font-size: 100px;
		}
		p.alt {
			color: rgba(0, 0, 0, 0.5);
		}
	}
}

#pasteCorpus {
	margin: 0;
	background: none;
	border: none;
	textarea {
		height: 10em;
	}
}

#results, #moreInfo, #tradeOff {
	display: none;
	opacity: 0;
}

#taWidgetContainer {
	margin-top: 1.5em;
}

#schools, #careers {
	padding: 1em 2em;
	span {
		font-size: 12px;
		padding-left: 1.4em;
	}
}
.two-col-list {
	margin: 0.3em 0 1em;
	-moz-column-count: 2;
	-moz-column-gap: 1.5em;
	-webkit-column-count: 2;
	-webkit-column-gap: 1.5em;
	column-count: 2;
	column-gap: 1.5em;
	padding: 0;
	font-size: 14px;
}
.schools {
	@extend .two-col-list;
	li {
		margin-left: 2.5em;
		cursor: pointer;
		&:hover {
			color: #00b2ef;
		}
	}
}
.careers {
	@extend .two-col-list;
	li {
		margin-left: 2.5em;
	}
}

.personalities {
	text-align: center;
	list-style: none;
	padding: 0;
	margin-top: 2em;
	margin-bottom: 1em;
	li {
		display: inline-block;
		text-align: center;
		position: relative;
		width: 80%;
		border-radius: 2em;
		border: 2px solid rgba(10, 190, 239, 0.5);
		margin: 0.5em 0;
		color: rgba(0, 0, 0, 0.25);
	}
}

.schoolTrait {
	width: 100%;
	border-radius: 2em;
	padding: 0.5em 0;
	font-size: 1.25em;
	position: absolute;
	left: 0;
	display: inline-block;
	opacity: 0;
	transition: opacity 0.2s;
	&.selected {
		opacity: 1;
	}
}

.personalityScale {
	display: inline-block;
	width: 100%;
	border-radius: 2em;
	padding: 0.5em 0;
	font-size: 1.25em;
	&::before, &::after {
		position: absolute;
		font-size: 0.75em;
		line-height: 1.8em;
		color: rgba(0, 0, 0, 0.75);
	}
	&::before {
		left: 2em;
	}
	&::after {
		right: 2em;
	}
	&.Openness::before {
		content: 'Down-to-earth';
	}
	&.Openness::after {
		content: 'Imaginative';
	}
	&.Conscientiousness::before {
		content: 'Easy Going';
	}
	&.Conscientiousness::after {
		content: 'Organized';
	}
	&.Emotional::before {
		content: 'Confident';
	}
	&.Emotional::after {
		content: 'Sensitive';
	}
	&.Extraversion::before {
		content: 'Reserved';
	}
	&.Extraversion::after {
		content: 'Outgoing';
	}
	&.Agreeableness::before {
		content: 'Contrary';
	}
	&.Agreeableness::after {
		content: 'Accommodating';
	}
}

#loader {
	display: none;
	opacity: 0;
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background-color: rgba(255, 255, 255, 0.5);
	text-align: center;
	transition: opacity 0.5s;
	animation: pulse 2s ease-in-out infinite alternate;
	-webkit-animation: pulse 2s ease-in-out infinite alternate;
	.msg {
		color: rgba(255, 255, 255, 0.5);
		margin-top: calc(23% - 0.5em);
		margin-left: -0.5em;
		.throbber {
			font-size: 15em;
		}
		p {
			font-size: 2em;
			color: rgba(0, 0, 0, 0.5);
		}
	}
	.loading & {
		display: block;
		opacity: 1;
	}
	@keyframes pulse {
		0% {
			background: rgba(255, 255, 255, 0.9);
		}
		50% {
			background: rgba(255, 255, 255, 0.5);
		}
		100% {
			background: rgba(255, 255, 255, 0.9);
		}
	}
	@-webkit-keyframes pulse {
		0% {
			background: rgba(255, 255, 255, 0.9);
		}
		50% {
			background: rgba(255, 255, 255, 0.5);
		}
		100% {
			background: rgba(255, 255, 255, 0.9);
		}
	}
}

.map-container {
	z-index: -1;
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	&::before {
		content: '';
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		z-index: 1;
		background:  linear-gradient(to bottom, rgba(0, 0, 0, 0.5) 12%, transparent 30%);
	}
}

#map-canvas {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	opacity: 0.75;
}